# Compilaci\u00F3n de Java
*.class

# Archivos de logs
*.log

# Directorios de salida
/bin/
/build/
/target/
/out/

# Configuraci\u00F3n de IntelliJ IDEA
*.iml
.idea/
*.iws
*.ipr

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp
*.bak
*.bkp
*~

# Reporte HTML generado
reporte_cmf.html


